  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  #top-section {
      display: flex;
      /* align-items: center; */
      justify-content: space-between;
      background-color: rgb(215, 216, 216);
      height: 40px;
  }
  
  section ul li {
      list-style: none;
  }
  
  .top-section-left ul {
      display: flex;
      margin-top: 4px;
      /* align-items: center; */
      /* justify-content: center; */
  }
  
  .top-section-left ul li {
      margin-left: 14px;
      border-right: 1px solid black;
      padding: 5px;
  }
  
  .top-section-right {
      display: flex;
      align-items: center;
      /* margin-right: 20px; */
      color: white;
  }
  
  .top-section,
  .top-section-right {
      background-color: rgba(255, 0, 0, 0.623);
      padding: 10px;
  }
  
  .para-email {
      margin-right: 10px;
  }
  
  #career {
      border: none;
  }
  
  .email {
      margin-right: 10px;
      text-align: center;
  }
  
  .phone {
      margin-right: 10px;
  }
  /* top bar  */
  
  .topBar {
      display: flex;
      justify-content: space-between;
      height: 97px;
      background-color: #FFFFFF;
      align-items: center;
  }
  
  .topBar-left {
      display: flex;
      align-items: center;
  }
  
  .topBar-left p .imo {
      font-size: 40px;
      color: #F3525A;
      margin-left: 15px;
  }
  
  .topBar-left h1 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 700;
      color: #F3525A;
      margin-left: 15px;
  }
  
  .topBar-right {
      /* display: flex; */
  }
  
  .topBar-right-ul {
      display: flex;
      font-size: 22px;
      margin-right: 20px;
      font-weight: 500;
  }
  
  .topBar-right-ul li {
      margin-left: 20px;
  }
  
  #home {
      color: #F3525A;
  }